Body{
    background: #000;
}

#p1{
    color: #817c7c;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'system-ui', sans-serif;
    margin: 0;
    margin-bottom: 8px;
}
.game{
    display: flex;
    justify-content: center;
}
#canvas{
    background-color: #111111;
    color: #ff9500;
    border: 3px dashed #6b6363;
}

.btn{
    border: none;
    color: #ff9500;
    position: relative;
    z-index: 10;
    font-size: 42px;
    background: transparent;
}

.btn:hover{
    color: #8f5709;
}

.buttons{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.buttons-c{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}